---
import Category from "../components/Category";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import State from "../components/State.tsx"
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
	<main>
		<Hero />
		<Category client:load />
		<State client:load />
		<Footer />
	</main>
</RootLayout>